@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --color1: #424874;
  --color2: #a6b1e1;
  --color3: #dcd6f7;
  --color4: #f4eeff;
  --color5: #eeeeee;
  --color6: #ff2e63;
  --color7: #fde9ee;
  --color8: #ff9a00;
  --color9: #fcf3e4;
  --color10: #1fab89;
  --color11: #e1fdf6;
  --color12: #1e56a0;
  --color13: #e0eaf8;
}

* {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 450px;
  border-radius: 1.5rem;
  display: flex;
  align-items: flex-start;
  box-shadow: 0px 0px 40px var(--color2);
}

.result {
  background-color: var(--color2);
  width: 50%;
  height: 100%;
  border-radius: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 25px;
}

.result__title {
  font-size: 1.2rem;
  margin-top: 1.5rem;
  color: var(--color1);
}

.result__score {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--color2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 30px var(--color3);
}

.result__score-value {
  color: var(--color4);
  font-size: 4.5rem;
}

.result__score-label {
  color: var(--color5);
  text-shadow: 2px 2px 7px var(--color5);
}

.text__title {
  font-size: 1.5rem;
  color: var(--color5);
}

.text__description {
  font-size: 1rem;
  padding: 1rem;
  margin-top: -0.7rem;
  color: var(--color5);
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.summary__title {
  font-size: 1.2rem;
  margin-left: 2.3rem;
  margin: 1.5rem;
}

.summary__contents {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 0.8rem;
  margin-left: 1.5rem;
}

.contents__category {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 15rem;
  height: 3.5rem;
  border-radius: 1rem;
  gap: 1.2rem;
}

.category__icon {
  margin: 0.5rem;
  width: 1.2rem;
}

.category__title {
  margin-left: -55px;
  width: 8rem;
  font-size: 1rem;
}

.category__score {
  justify-content: flex-end;
  margin-left: 20px;
  font-size: 13px;
  color: var(--color1);
  font-weight: bold;
}

.category__score-label {
  margin-left: 4px;
  font-size: 11px;
  color: var(--color2);
}

.summary__btn {
  width: 15rem;
  height: 3rem;
  border-radius: 8rem;
  cursor: pointer;
  margin-top: 1rem;
  background-color: var(--color1);
  color: var(--color4);
  border: none;
}

.summary__btn:hover {
  background-color: var(--color3);
  transition: all 0.5s;
  color: var(--color1);
}

.contents__category--reaction {
  background-color: var(--color7);
}

.contents__category--memory {
  background-color: var(--color9);
}

.contents__category--verbal {
  background-color: var(--color11);
}

.contents__category--visual {
  background-color: var(--color13);
}

.category__title--reaction {
  color: var(--color6);
}

.category__title--memory {
  color: var(--color8);
}

.category__title--verbal {
  color: var(--color10);
}

.category__title--visual {
  color: var(--color12);
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  font-size: 0.8rem;
}

.attribution__link {
  text-decoration: none;
  color: var(--color2);
  margin-left: 0.5rem;
}

.attribution__link:hover {
  text-decoration: underline;
}

@media (min-width: 220px) and (max-width: 900px) {
  .container {
    margin-top: 0.8rem;
    position: absolute;
    width: 90%;
    height: auto;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 0px 40px var(--color2);
  }

  .result {
    background-color: var(--color2);
    width: 100%;
    height: 50%;
    border-radius: 1.4rem;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .result__title {
    font-size: 1.1rem;
    margin-top: 1rem;
    color: var(--color1);
  }

  .result__score {
    margin-top: -0.5rem;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 30px var(--color3);
  }

  .result__score-value {
    color: var(--color4);
    font-size: 3rem;
  }

  .result__score-label {
    color: var(--color5);
    text-shadow: 2px 2px 7px var(--color5);
    font-size: 0.8rem;
  }

  .text__title {
    font-size: 1.2rem;
    color: var(--color5);
    margin-top: -0.6rem;
  }

  .text__description {
    font-size: 1rem;
    padding: 1rem;
    margin-top: -0.7rem;
    color: var(--color5);
  }

  .summary {
    width: 100%;
    height: 50%;
    border-radius: 1.4rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .summary__title {
    font-size: 1.1rem;
    margin: 1rem;
  }

  .summary__contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    width: 100%;
    margin-bottom: 1.5rem;
    margin-left: 0rem;
  }

  .contents__category {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 80%;
    height: 2.2rem;
    border-radius: 1rem;
  }

  .category__icon {
    margin: 0.5rem;
    width: 1.2rem;
  }

  .category__title {
    margin-left: -55px;
    width: 8rem;
    font-size: 0.9rem;
  }

  .category__score {
    justify-content: center;
    margin-left: 50px;
    font-size: 13px;
    color: var(--color1);
    font-weight: bold;
  }

  .category__score-label {
    margin-left: 4px;
    font-size: 9px;
    color: var(--color2);
  }

  .summary__btn {
    width: 80%;
    height: 2rem;
    border-radius: 8rem;
    cursor: pointer;
    background-color: var(--color1);
    color: var(--color4);
    border: none;
    margin-bottom: 3rem;
  }

  .attribution {
    font-size: 0.6rem;
  }
}


